{% extends "base.jinja" %}

{% block title %}Deck Configurations - Flashy{% endblock %}

{% block content %}
<h1>Deck Configurations</h1>
{% if deck_configs %}
<ul>
    {% for deck_config in deck_configs %}
    <a href="/page/deck_configs/deck_config/{{ deck_config.id }}">
        <li>Prompt Fields: {{ deck_config.prompt_fields }}, Answer Fields: {{ deck_config.answer_fields }},
            Prompt Pool: {{ deck_config.prompt_pool }}, Prompt Pool Counts: {{
            deck_config.prompt_pool_counts }}, Answer Pool: {{ deck_config.answer_pool }}, Answer
            Pool Counts: {{ deck_config.answer_pool_counts }}</li>
    </a>
    {% endfor %}
</ul>
{% else %}
<p>No deck configurations available.</p>
{% endif %}
<a href="/page/deck_configs/deck_config/create">Create New Deck Configuration</a>
{% endblock %}